<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <br>
    <a href="http://localhost:8000/supervisor/showAddRecord/{$username}" class="btn btn-success btn-xs">查看部门夹具采购入库记录</a>
    <a href="http://localhost:8000/supervisor/ierecord/{$workcell}" class="btn btn-success btn-xs">查看部门夹具进出库记录</a>
    <a href="http://localhost:8000/supervisor/rerecord/{$workcell}" class="btn btn-success btn-xs">查看部门夹具报修记录</a>
    <a href="http://localhost:8000/supervisor/browseDestoryRecord/{$username}" class="btn btn-success btn-xs">查看部门夹具报废记录</a>
    <br><br>
    <table class="table-responsive table table-hover">
        <tr>
            <th>夹具代码</th>
            <th>夹具名称</th>
            <th>所属大类</th>
            <th>夹具模组</th>
            <th>夹具料号</th>
            <th>配备数量</th>
            <th>用途</th>
            <th>保养点检周期</th>
            <th>负责人</th>
            <th>所属工作部</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {foreach $data as $index =>  $element}
        <tr>
            <td>{$element.code}</td>
            <td>{$element.name}</td>
            <td>{$element.familyid}</td>
            <td>{$element.model}</td>
            <td>{$element.partno}</td>
            <td>{$element.upl}</td>
            <td>{$element.usefor}</td>
            <td>{$element.pmperiod}</td>
            <td>{$element.owner}</td>
            <td>{$element.workcell}</td>
            <td>
                {if $element.destorystatus == 0}
                无需操作
                {elseif $element.destorystatus == 1}
                高级用户发出报废请求
                {else/}
                已经完成初审
                {/if}
                <br>
                {if $element.buystatus == 0}
                初级管理员已经提交申请，请您审核
                {elseif $element.buystatus == 1}
                审核成功，等待经理终审
                {else/}
                通过审核，投入运营
                {/if}
            </td>
            <td>
                {if $element.destorystatus == 0}
                <a href="" class="btn btn-info btn-xs disabled">无需操作</a>
                {elseif $element.destorystatus == 1}
                <a href="http://localhost:8000/supervisor/trialDestory/{$element.code}/{$username}" class="btn btn-danger btn-xs">初审请求</a>
                {else/}
                <a href="" class="btn btn-success btn-xs disabled">初审完成无需操作</a>
                {/if}
                <br>
                {if $element.buystatus == 0}
                <!--初级管理员已经提交申请，请您审核-->
                <a href="http://localhost:8000/supervisor/handelAdd/{$element.code}/{$username}" class="btn btn-success btn-xs">同意审核</a>
                {elseif $element.buystatus == 1}
                <!--审核成功，等待经理终审-->
                <a href="" class="btn btn-success btn-xs disabled">审核完成，无需操作</a>
                {else/}
                <!--通过审核，投入运营-->
                <a href="" class="btn btn-success btn-xs disabled">正在运营</a>
                {/if}
            </td>
        </tr>
        {/foreach}
    </table>
</div>
</body>
</html>